@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

 
body {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
}


header {
    background:#03a9f4;
    text-align: center;
}


h3 {
    margin: 0;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.logo {
    color:#fff;
    font-size: 40px;
    font-family: 'Anton'
}


header input {
    font-size: 20px;
    margin: 20px 0; 
}

.news_item {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(109, 100, 100);
}